cise-dispatcher/src/main/resources/xsd/message.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  ~ BSD 3-Clause License
  ~
  ~ Copyright (c) 2021, Joint Research Centre (JRC) All rights reserved.
  ~
  ~ Redistribution and use in source and binary forms, with or without
  ~ modification, are permitted provided that the following conditions are met:
  ~
  ~ 1. Redistributions of source code must retain the above copyright notice, this
  ~    list of conditions and the following disclaimer.
  ~
  ~ 2. Redistributions in binary form must reproduce the above copyright notice,
  ~    this list of conditions and the following disclaimer in the documentation
  ~    and/or other materials provided with the distribution.
  ~
  ~ 3. Neither the name of the copyright holder nor the names of its
  ~    contributors may be used to endorse or promote products derived from
  ~    this software without specific prior written permission.
  ~
  ~ THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
  ~ AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
  ~ IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
  ~ DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
  ~ FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
  ~ DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
  ~ SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
  ~ CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
  ~ OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
  ~ OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
  ~
  -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.cise.eu/servicemodel/v1/service/" xmlns:ns2="http://www.cise.eu/servicemodel/v1/authority/" xmlns:tns="http://www.cise.eu/servicemodel/v1/message/" targetNamespace="http://www.cise.eu/servicemodel/v1/message/" version="1.0">

  <xs:import namespace="http://www.cise.eu/servicemodel/v1/service/" schemaLocation="service.xsd"/>

  <xs:import namespace="http://www.cise.eu/servicemodel/v1/authority/" schemaLocation="authority.xsd"/>

  <xs:element name="Acknowledgement" type="tns:Acknowledgement"/>

  <xs:element name="EncryptedEntityPayload" type="tns:EncryptedEntityPayload"/>

  <xs:element name="Feedback" type="tns:Feedback"/>

  <xs:element name="PullRequest" type="tns:PullRequest"/>

  <xs:element name="PullResponse" type="tns:PullResponse"/>

  <xs:element name="Push" type="tns:Push"/>

  <xs:element name="ReliabilityProfile" type="tns:ReliabilityProfile"/>

  <xs:element name="XmlEntityPayload" type="tns:XmlEntityPayload"/>

  <xs:complexType name="Acknowledgement">
    <xs:annotation>
      <xs:documentation><![CDATA[The Acknowledgement message is used in two distinct situations: As the web
service operation return and represents the acknowledgment the message has
been received in the EUCISE network; It is sent asynchronously by destination
Gateways, upon indication by the senders, with the status of the delivery to
the final message recipient. Among others, might be used to handle retry
mechanisms.]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:Message">
        <xs:sequence>
          <xs:element name="AckCode" type="tns:AcknowledgementType">
            <xs:annotation>
              <xs:documentation><![CDATA[This code represents the type of fault that occurred, or an indication of
success.]]></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="AckDetail" type="xs:string">
            <xs:annotation>
              <xs:documentation><![CDATA[Additional text to clarify details about the fault.]]></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="DiscoveredServices" type="ns1:Service">
            <xs:annotation>
              <xs:documentation><![CDATA[Used in operations like to Discovery or Get Subscribers to return the
results of the operation.]]></xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="Message">
    <xs:annotation>
      <xs:documentation><![CDATA[This abstract entity describes the message metadata, it is used to identify
the message type linked to a communication pattern and the correlation with
other message.]]></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ContextID" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[This identifier correlates the messages that share an operational need.
For instance, in order to update the information of an incident, several
CISE entity services need to be invoked (e.g., IncidentService,
EventLocationService, etc.) Thus, the messages exchanged with these CISE
entity services are related by this ID type.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CorrelationID" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[This identifier correlates the request and response messages of/to a
service (for the Pull or the Publish/Subscribe communication patterns)]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CreationDateTime" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation><![CDATA[The date and time when this messaging object was created]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MessageID" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Identifier of the message. It is unique for the CISE participant who
created the message.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Priority" type="tns:PriorityType">
        <xs:annotation>
          <xs:documentation><![CDATA[Priority of the message, to help the receiver of the message to deal with
prioritizing the messages received.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RequiresAck" type="xs:boolean">
        <xs:annotation>
          <xs:documentation><![CDATA[Indication that Sender wants to receive an asynchronous Acknowledgement
upon delivery of this message in the final destination]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Sender" type="ns1:Service">
        <xs:annotation>
          <xs:documentation><![CDATA[This field describes the sender of the message.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Recipient" type="ns1:Service">
        <xs:annotation>
          <xs:documentation><![CDATA[This field describes the recipient of the message.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Payload" type="tns:CoreEntityPayload">
        <xs:annotation>
          <xs:documentation><![CDATA[This field contains the payload (business content) and its associated
metadata.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Reliability" type="tns:ReliabilityProfile">
        <xs:annotation>
          <xs:documentation><![CDATA[This field describes the reliability profile requested by the sender of
the message.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="CcRecipients" type="ns1:Service">
        <xs:annotation>
          <xs:documentation><![CDATA[Other recipients that also received this message]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any namespace="##other" processContents="skip" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType abstract="true" name="CoreEntityPayload">
    <xs:annotation>
      <xs:documentation><![CDATA[This entity contains the business payload of the message and the metadata
related to this payload. This is used by all messages types expect the
Acknowledgement type.]]></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="InformationSecurityLevel" type="tns:InformationSecurityLevelType">
        <xs:annotation>
          <xs:documentation><![CDATA[Level of security associated with the payload.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InformationSensitivity" type="tns:InformationSensitivityType">
        <xs:annotation>
          <xs:documentation><![CDATA[Level of sensitivity related to the payload.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="IsPersonalData" type="xs:boolean">
        <xs:annotation>
          <xs:documentation><![CDATA[If the payload contains personal data.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Purpose" type="tns:PurposeType">
        <xs:annotation>
          <xs:documentation><![CDATA[The purpose of the message. It can be used to handle access rights on the
provider side.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RetentionPeriod" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation><![CDATA[Date and Time until when the payload can be kept. This information can be
used for the legal constraints associated with the management of personal
data.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="EnsureEncryption" type="xs:boolean">
        <xs:annotation>
          <xs:documentation><![CDATA[An indication the payload is encrypted.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="XmlEntityPayload">
    <xs:complexContent>
      <xs:extension base="tns:CoreEntityPayload">
        <xs:sequence>
          <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="EncryptedEntityPayload">
    <xs:annotation>
      <xs:documentation><![CDATA[Sub entity used to transfer the encrypted information. The encryption method,
cypher keys, algorithms, etc., must be previously agreed and exchange between
the participants sending and receiving the message.]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:CoreEntityPayload">
        <xs:sequence>
          <xs:element name="Entities" type="xs:string">
            <xs:annotation>
              <xs:documentation><![CDATA[Encrypted data encoded in BASE64 format.]]></xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ReliabilityProfile">
    <xs:annotation>
      <xs:documentation><![CDATA[This entity contains information about the retry strategy in case of error
during the transmission of the message.]]></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RetryStrategy" type="tns:RetryStrategyType">
        <xs:annotation>
          <xs:documentation><![CDATA[The type of retry strategy required by this message. For each type, a
retry mechanism has been agreed at EU level (e.g. number of retry, time
between each try...). This mechanism is implemented by the CISE Gateways.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Push">
    <xs:annotation>
      <xs:documentation><![CDATA[The message Push is used in the Push communication pattern to transmit
information to other CISE participants.]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:Message">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="DiscoveryProfiles" type="ns1:ServiceProfile">
            <xs:annotation>
              <xs:documentation><![CDATA[This field is used for the Legacy System to request the CISE Gateway to
look for services of a specific type and/or from a specific type of
provider (using the community, country, sea basin...)]]></xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PullResponse">
    <xs:annotation>
      <xs:documentation><![CDATA[The message Pull Response is used in the Pull communication pattern to
respond to a request. This response is sent asynchronously.]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:Message">
        <xs:sequence>
          <xs:element minOccurs="0" name="ErrorDetail" type="xs:string">
            <xs:annotation>
              <xs:documentation><![CDATA[This field may give a textual description of an error that could have
happened during the process of the pull request message. This can be used
to communicate an error that happened after sending the acknowledgement
message.]]></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ResultCode" type="tns:ResponseCodeType">
            <xs:annotation>
              <xs:documentation><![CDATA[This field provides an OK code if the response is sent along with the
pull response. It can also provide an error code if an error occurred
after sending the acknowledgement message.]]></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Fulfils" type="ns1:ServiceCapability">
            <xs:annotation>
              <xs:documentation><![CDATA[Describes the characteristics used to respond to the request. For
instance, the type of query performed (exact or best effort).]]></xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PullRequest">
    <xs:annotation>
      <xs:documentation><![CDATA[The message Pull Request is used in the Pull communication pattern to request
information]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:Message">
        <xs:sequence>
          <xs:element name="PullType" type="tns:PullType">
            <xs:annotation>
              <xs:documentation><![CDATA[The Pull Type is to distinguish between the simple request and the
subscription mechanism. It can also be use to unsubscribe to a flow.]]></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ResponseTimeOut" type="xs:int">
            <xs:annotation>
              <xs:documentation><![CDATA[Time in seconds. The request should be answered within this time limit.
After this time, the response may not be considered by the requesting
system.]]></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Requests" type="ns1:ServiceCapability">
            <xs:annotation>
              <xs:documentation><![CDATA[Service Capability required by the system requesting the information.
This will indicate for instance the maximum entities expected in return.]]></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="DiscoveryProfiles" type="ns1:ServiceProfile">
            <xs:annotation>
              <xs:documentation><![CDATA[This field is used for the Legacy System to request the CISE Gateway to
look for services of a specific type and/or from a specific type of
provider (using the community, country, sea basin...)]]></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="PayloadSelector" type="tns:PayloadSelector">
            <xs:annotation>
              <xs:documentation><![CDATA[Filters to be considered on the message payload entities when using a
Pull Request.]]></xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PayloadSelector">
    <xs:annotation>
      <xs:documentation><![CDATA[Filters to be considered on the message payload entities when using a Pull
Request.]]></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Selectors" type="tns:SelectorCondition">
        <xs:annotation>
          <xs:documentation><![CDATA[List of selector conditions.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SelectorCondition">
    <xs:annotation>
      <xs:documentation><![CDATA[Represents a condition to be used to allow addition extra filtering on data.]]></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Selector" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[XPATH expression that allows the selection XML elements in the payload.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Operator" type="tns:ConditionOperatorType">
        <xs:annotation>
          <xs:documentation><![CDATA[Operator to be applied to this selector.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Feedback">
    <xs:annotation>
      <xs:documentation><![CDATA[This message type allows to provide feedback on a message already sent (for
example when a message was sent by error) or on a message received.]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:Message">
        <xs:sequence>
          <xs:element name="FeedbackType" type="tns:FeedbackType">
            <xs:annotation>
              <xs:documentation><![CDATA[The type of feedback to provide]]></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Reason" type="xs:string">
            <xs:annotation>
              <xs:documentation><![CDATA[The description of the reason for feedback. This field is a free text.]]></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RefMessageID" type="xs:string">
            <xs:annotation>
              <xs:documentation><![CDATA[The Message ID that this feedback message refers to.]]></xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="AcknowledgementType">
    <xs:annotation>
      <xs:documentation><![CDATA[Enumeration with the several types of Acknowledgment codes that can be written.]]></xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="InvalidRequestObject"/>
      <xs:enumeration value="ObjectTypeNotAccepted"/>
      <xs:enumeration value="AuthenticationError"/>
      <xs:enumeration value="BadRequest"/>
      <xs:enumeration value="EntityTypeNotAccepted"/>
      <xs:enumeration value="InternalGatewayFault"/>
      <xs:enumeration value="ServiceManagerError"/>
      <xs:enumeration value="Success"/>
      <xs:enumeration value="SecurityError"/>
      <xs:enumeration value="Unauthorized"/>
      <xs:enumeration value="ServerError"/>
      <xs:enumeration value="ServiceTypeNotSupported"/>
      <xs:enumeration value="TimestampError"/>
      <xs:enumeration value="NetworkError"/>
      <xs:enumeration value="EndPointNotFound"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PriorityType">
    <xs:annotation>
      <xs:documentation><![CDATA[<p>Enumeration of the different priority of a message.]]></xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Low"/>
      <xs:enumeration value="Medium"/>
      <xs:enumeration value="High"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="InformationSecurityLevelType">
    <xs:annotation>
      <xs:documentation><![CDATA[<p>
This enumeration presents the possible values for information security
classification. The enumeration is based in the security rules for protecting
EU classified information
(<a href="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2011:141:0017:0065:EN:PDF"><font color="#000080"><u>http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2011:141:0017:0065:EN:PDF</u></font></a>
).]]></xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="NonSpecified"/>
      <xs:enumeration value="EUTopSecret"/>
      <xs:enumeration value="EURestricted"/>
      <xs:enumeration value="NonClassified"/>
      <xs:enumeration value="EUSecret"/>
      <xs:enumeration value="EUConfidential"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="InformationSensitivityType">
    <xs:annotation>
      <xs:documentation><![CDATA[<p>
This enumeration presents the possible values for information sensitivity
degree. The Traffic Light Protocol (TLP) of US-CERT is applied
(<a href="http://www.us-cert.gov/tlp"><font color="#000080"><u>http://www.us-cert.gov/tlp</u></font></a>
).]]></xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="White"/>
      <xs:enumeration value="Red"/>
      <xs:enumeration value="Green"/>
      <xs:enumeration value="Amber"/>
      <xs:enumeration value="NonSpecified"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PurposeType">
    <xs:annotation>
      <xs:documentation><![CDATA[<p>
Enumeration of the different purpose linked to a request.]]></xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="DefenceMonitoring"/>
      <xs:enumeration value="CSDPTask"/>
      <xs:enumeration value="BorderMonitoring"/>
      <xs:enumeration value="CounterTerrorism"/>
      <xs:enumeration value="EnvironmentWarning"/>
      <xs:enumeration value="EnvironmentMonitoring"/>
      <xs:enumeration value="EnvironmentResponse"/>
      <xs:enumeration value="CustomsMonitoring"/>
      <xs:enumeration value="LawEnforcementMonitoring"/>
      <xs:enumeration value="FisheriesOperation"/>
      <xs:enumeration value="BorderOperation"/>
      <xs:enumeration value="Safety"/>
      <xs:enumeration value="Security"/>
      <xs:enumeration value="SAR"/>
      <xs:enumeration value="FisheriesWarning"/>
      <xs:enumeration value="FisheriesMonitoring"/>
      <xs:enumeration value="VTM"/>
      <xs:enumeration value="Operation"/>
      <xs:enumeration value="LawEnforcementOperation"/>
      <xs:enumeration value="CustomsOperation"/>
      <xs:enumeration value="NonSpecified"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="RetryStrategyType">
    <xs:annotation>
      <xs:documentation><![CDATA[<p>Enumeration of the different type of retry strategy.]]></xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="LowReliability"/>
      <xs:enumeration value="NoRetry"/>
      <xs:enumeration value="HighReliability"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ResponseCodeType">
    <xs:annotation>
      <xs:documentation><![CDATA[Enumeration with the code values return with a PullResponse.]]></xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="ServerError"/>
      <xs:enumeration value="EndPointNotFound"/>
      <xs:enumeration value="Success"/>
      <xs:enumeration value="InternalGatewayFault"/>
      <xs:enumeration value="Unauthorized"/>
      <xs:enumeration value="InvalidRequestObject"/>
      <xs:enumeration value="EntityTypeNotAccepted"/>
      <xs:enumeration value="SecurityError"/>
      <xs:enumeration value="BadRequest"/>
      <xs:enumeration value="TimestampError"/>
      <xs:enumeration value="AuthenticationError"/>
      <xs:enumeration value="ServiceTypeNotSupported"/>
      <xs:enumeration value="ObjectTypeNotAccepted"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PullType">
    <xs:annotation>
      <xs:documentation><![CDATA[<p>Enumeration to handle the different type of Pull Request message.]]></xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="GetSubscribers"/>
      <xs:enumeration value="Discover"/>
      <xs:enumeration value="Unsubscribe"/>
      <xs:enumeration value="Subscribe"/>
      <xs:enumeration value="Request"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ConditionOperatorType">
    <xs:annotation>
      <xs:documentation><![CDATA[Enumeration with the types of operators that can be used in payload selectors.]]></xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="IS_NULL"/>
      <xs:enumeration value="NOT_LIKE"/>
      <xs:enumeration value="GREATER_THAN_OR_EQUAL_TO"/>
      <xs:enumeration value="NOT_EQUAL"/>
      <xs:enumeration value="LIKE"/>
      <xs:enumeration value="EQUAL"/>
      <xs:enumeration value="GREATER_THAN"/>
      <xs:enumeration value="LESS_THAN_OR_EQUAL_TO"/>
      <xs:enumeration value="LESS_THAN"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="FeedbackType">
    <xs:annotation>
      <xs:documentation><![CDATA[Enumeration of the type of feedback for the feedback message.]]></xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="info"/>
      <xs:enumeration value="delete"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
